:root {
  font-size: 0.91vw;
  /* 18px при device-width:1980px */
  --pxequal: 0.051vw;
  /*1 px = 0.051vw при ширине макета 1980px*/
  font-family: 'Montserrat', sans-serif;
}



body {
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  height: calc(var(--pxequal) * 1200);
  background-color: #131210;
  display: block;
}

.furie_logo {
  float: left;
  width: 2.80vw;
  height: 2.5vw;
  margin-top: calc(var(--pxequal) * 60);
  margin-left: calc(var(--pxequal) * 101);
}

address {
  width: auto;
  float: left;
  margin-top: calc(var(--pxequal) * 77);
  margin-left: calc(var(--pxequal) * 1130);
}

address a {
  text-decoration: none;
  font-style: normal;
  color: white;
  font-size: 1rem;
  display: block;
  float: left;
}

address a:first-child:before {
  display: block;
  content: ' ';
  float: left;
  width: calc(var(--pxequal) * 33);
  height: calc(var(--pxequal) * 27);
  margin-right: 1rem;
  background-image: url(../img/mail_icon.png);
  background-size: cover;

}

address a:last-child:before {
  display: block;
  content: ' ';
  float: left;
  width: calc(var(--pxequal) * 33);
  height: calc(var(--pxequal) * 33);
  margin-right: 1rem;
  margin-left: 2.5rem;
  background-image: url(../img/call_icon.png);
  background-size: cover;

}

.login {
  width: calc(var(--pxequal) * 125);
  height: calc(var(--pxequal) * 56);
  float: left;
  background-color: white;
  margin-left: 2.5rem;
  margin-top: calc(var(--pxequal) * 56);
  border-top-left-radius: 20% 50%;
  border-bottom-left-radius: 20% 50%;
  border-top-right-radius: 20% 50%;
  border-bottom-right-radius: 20% 50%;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #135EC5;
  text-decoration: none;
  line-height: 330%;
  clear: right;
}

header p {
  margin: 0;
  color: #131210;
  font-size: 10rem;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: calc(var(--pxequal) * 274);
  width: auto;
}

header p span {
  background-color: #11100e;
  white-space: pre;
  border: 2.5rem solid #12110F;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
}

.topmers {
  margin-top: -16%;
  margin-left: calc(var(--pxequal) * 560);
  width: calc(var(--pxequal) * 793);
  height: calc(var(--pxequal) * 490);
}

.undertext {
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 4.7rem;
}

.vdots {
  width: calc(var(--pxequal) * 10);
  height: calc(var(--pxequal) * 49);
  float: right;
  margin-top: -25%;
  margin-right: calc(var(--pxequal) * 80);

}

.grey_dot {
  background-color: #3C3C3C;
  border-radius: 50%;
  width: calc(var(--pxequal) * 10);
  height: calc(var(--pxequal) * 10);
}

.blue_dot {
  background-color: #135EC5;
  border-radius: 50%;
  width: calc(var(--pxequal) * 10);
  height: calc(var(--pxequal) * 10);
  margin-top: 100%;
  margin-bottom: 100%;
}

header ul {
  margin-top: 3rem;
  list-style: none;
  width: 70%;

}

header ul li {
  width: 18rem;
  font-weight: bold;
  font-size: 1.67rem;
  color: #3C3C3C;
  float: left;
  border-bottom: 1px solid #3C3C3C;
  padding-bottom: 1%;
  margin-left: 6.17rem;
}

.search_blue {
  width: calc(var(--pxequal) * 215);
  height: calc(var(--pxequal) * 56);
  float: right;
  background-color: #135EC5;
  margin-right: calc(var(--pxequal) * 207);
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 330%;
}

section p {
  color: #C1C1C1;
  text-align: center;
  margin-top: 3rem;
}

section hr {
  border-top: 1px solid #EBEBEB;
  margin-top: 5%;
}

.trademarks_top {
  margin-top: calc(var(--pxequal) * 68);
  margin-left: calc(var(--pxequal) * 101);
  height: calc(var(--pxequal) * 71);
  display: block;
}

.trademarks_top img {
  width: auto;
  margin-right: 9%;
  height: 100%;
}

.trademarks_top img:last-child {
  margin-right: 0;
}

section>img {
  width: calc(var(--pxequal) * 524);
  height: calc(var(--pxequal) * 286);
  margin-left: 12%;
  margin-top: 10%;
  float: left;
}

article {
  display: block;
  width: calc(var(--pxequal) * 693);
  height: calc(var(--pxequal) * 197);
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  color: #C1C1C1;
  overflow: hidden;
  float: left;
  margin-top: 9%;
  margin-left: 10%;
  line-height: 260%;

}

article>p {
  color: #135EC5;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.3rem;
  font-weight: bold;
  text-align: start;
  margin-top: 0;
  padding-top: 1%;

}

.allmodels_blue {
  width: calc(var(--pxequal) * 215);
  height: calc(var(--pxequal) * 56);
  display: block;
  float: right;
  margin-right: 40%;
  margin-top: 2%;
  background-color: #135EC5;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 330%;

}

aside {
  display: block;
  height: calc(var(--pxequal) * 542);
  background-color: #135EC5;
  overflow: visible;
  margin-top: calc(var(--pxequal) * 631);
}

aside > p {
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 3.3rem;
  margin: 0;
  padding-top: calc(var(--pxequal) * 145);
}

.addnow_blue {
  width: calc(var(--pxequal) * 215);
  height: calc(var(--pxequal) * 56);
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  background-color: #135EC5;
  border: 2px solid white;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 330%;
}

aside img {
  margin-left: 33%;
  margin-top: 2%;
  width: calc(var(--pxequal) * 624);
  height: calc(var(--pxequal) * 236);
}

.left {
  width: calc(var(--pxequal) * 451);
  height: calc(var(--pxequal) * 569);
  margin-top: 18rem;
  margin-left: 10rem;
  box-shadow: 0 0 10px gray;
  float: left;
}

.left header {
  background-color: #135EC4;
  width: 100%;
  height: 30%;
}

.left header img {
  display: block;
  width: calc(var(--pxequal) * 280);
  height: calc(var(--pxequal) * 162);
  padding-top: 22%;
  margin-left: auto;
  margin-right: auto;
}

.fresh_left {
  width: calc(var(--pxequal) * 86);
  height: calc(var(--pxequal) * 30);
  display: block;
  float: right;
  margin-top: -53%;
  margin-right: 5%;
  background-color: white;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #135EC5;
  text-decoration: none;
  line-height: 230%;
}

.left p:nth-of-type(1) {
  font-size: 1.67rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 0;
}

.left p:nth-of-type(2) {
  font-size: 0.78rem;
  font-weight: bold;
  color: #135EC5;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

.left p:nth-of-type(3) {
  font-size: 0.83rem;
  color: #C1C1C1;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
}

.left p:nth-of-type(4) {
  font-size: 1.67rem;
  font-weight: bold;
  color: #16AD2C;
  margin-top: 2.8rem;
  margin-left: 2.8rem;
}

.moreinfo {
  width: calc(var(--pxequal) * 193);
  height: calc(var(--pxequal) * 50);
  display: block;
  float: right;
  margin-top: -15%;
  margin-right: 5%;
  background-color: #E2E2E2;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 330%;

}

.right {
  width: calc(var(--pxequal) * 951);
  height: calc(var(--pxequal) * 684);
  margin-top: 14rem;
  margin-left: 11rem;
  box-shadow: 0 0 10px gray;
  float: left;
  overflow: hidden;
}

div.right1 {
  height: 100%;
  width: 55%;
  float: left;
}

div.right2 {
  height: 100%;
  width: 45%;
  float: right;
  background-color: #135EC4;
}

.right2 img {
  width: calc(var(--pxequal) * 610);
  height: calc(var(--pxequal) * 362);
  margin-top: 40%;
  margin-left: -20%;
}

.right p:nth-of-type(1) {
  font-size: 0.78rem;
  color: #C1C1C1;
  margin-top: 3.3rem;
  margin-left: 4rem;
  margin-bottom: 0;
}

.right span {
  font-size: 1.67rem;
  font-weight: bold;
  color: #16AD2C;
  margin-left: 40%;
}

.right p:nth-of-type(2) {
  font-size: 1.67rem;
  font-weight: bold;
  color: #135EC5;
  margin-top: 7.3rem;
  margin-left: 4rem;
  margin-bottom: 0;
}

.right article {
  display: block;
  width: calc(var(--pxequal) * 318);
  height: calc(var(--pxequal) * 157);
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  color: #C1C1C1;
  overflow: hidden;
  float: none;
  margin-top: 9%;
  margin-left: 4rem;
  line-height: 260%;
}

.ordercar_blue {
  width: calc(var(--pxequal) * 215);
  height: calc(var(--pxequal) * 56);
  display: block;
  margin-left: 4rem;
  margin-top: 5.7rem;
  background-color: #135EC5;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 330%;
}

.fresh_right {
  width: calc(var(--pxequal) * 86);
  height: calc(var(--pxequal) * 30);
  display: block;
  float: right;
  margin-top: -110%;
  margin-right: 10%;
  background-color: white;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #135EC5;
  text-decoration: none;
  line-height: 230%;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  display: block;
  width: calc(var(--pxequal) * 1463);
  height: auto;
  box-shadow: 0 0 10px gray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.3rem;
}

footer ul {
  margin-top: 0rem;
  list-style: none;
  width: 90%;
}

footer ul::after {
  content: "";
  display: table;
  clear: both;
}

footer ul li {
  width: 17rem;
  font-weight: bold;
  font-size: 1rem;
  color: #C1C1C1;
  float: left;
  border-bottom: 1px solid #C1C1C1;
  padding-bottom: 1%;
  margin-left: 1.4rem;
  margin-top: 6%;
}

#select {
  color: black;
  background-image: url(../img/pin.png);
  background-repeat: no-repeat;
  background-size: 7%;
  background-position-x: right;
}

.trademarks_bottom {
  margin-left: calc(var(--pxequal) * 48);
  padding-top: 5%;
  height: calc(var(--pxequal) * 55);
  display: block;
  clear: both;
}

.trademarks_bottom img {
  width: auto;
  margin-right: 9%;
  height: 100%;
}

.trademarks_bottom img:last-child {
  margin-right: 0;
}

.hidetab {
  width: calc(var(--pxequal) * 188);
  height: calc(var(--pxequal) * 70);
  display: block;
  margin-top: 4%;
  margin-right: auto;
  margin-left: auto;
  background-color: #135EC5;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.67rem;
  font-style: normal;
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 230%;
  cursor: pointer;
}

div.bottom {
  width: 100%;
  height: calc(var(--pxequal) * 450);
  background-color: #135EC5;
  margin-top: -3%;
}

.search_white {
  width: calc(var(--pxequal) * 205);
  height: calc(var(--pxequal) * 56);
  display: block;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #135EC5;
  text-decoration: none;
  line-height: 330%;
}