:root {
    margin: 0 auto;
    background-color: black;
}

body {
    
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

div {
    background-color: white;
    margin: 3%;
    padding: 3%;
    text-align: center;
}