:root {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin-top: 3px;
    margin-left: 0px;
    margin-bottom: 10px;
    position: relative;
}

.header {
    display: block;
    width: 1400px;
    height: 44px;
    background-color: #4CB1CA;
    position: absolute;
    top: 0px;
    left: 0px;
}

.selectors {
    width: 249px;
    height: 13px;
    position: absolute;
    top: 13px;
    left: 188px;
    font-size: 14px;
    font-family: sans;
    color: white;
    line-height: 12px;
    white-space: pre;
}

.link_box {
    width: 357px;
    height: 13px;
    position: absolute;
    top: 13px;
    left: 855px;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

.links {
    margin-left: 3px;
    margin-right: 8px;
    text-decoration: none;
    color: white;
}

.links:hover {
    border-bottom: 2px solid white;
}

.brend {
    width: 166px;
    height: 26px;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    color: #656565;
    text-transform: uppercase;
    line-height: 27px;
    position: absolute;
    top: 81px;
    left: 190px;
}

.types {
    width: 346px;
    height: 10px;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
    color: #656565;
    text-transform: uppercase;
    line-height: 10px;
    word-spacing: 33px;
    position: absolute;
    top: 89px;
    left: 415px;
}

.type {
    text-decoration: none;
    color: #656565;
}

.type:hover {
    border-bottom: 1px solid #656565;
}

#search {
    border: 1px solid grey;
    width: 173px;
    height: 28px;
    position: absolute;
    top: 79px;
    left: 875px;
}

/* Застосовуємо стилі до першого дочірнього параграфу, за допомогою псевдокласу :first-child */
p:first-child {
    margin-top: 3px;
    font-size: 18px;
}

input {
    color: gray;
    border: none;
    outline: none;
}

/* Змінюємо колір тексту для поля Пошуку при вводі, за допомогою псевдокласу :focus */
input:focus {
    color: black;
    border: none;
    outline: none;
}

#search_icon {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 86px;
    left: 1025px;
}

/* Встановлюємо відповідний колір для всіх блочних посилань, ідентифікатори та класи яких закінчуються на "green" 
    Зручно для підбору кольору для всіх відповідних елементів*/
a[id$="green"] {
    background-color: #7DB122;
}

a[class$="green"] {
    background-color: #7DB122;
}

/* Встановлюємо відповідний колір для всіх блочних посилань, ідентифікатори та класи яких закінчуються на "blue" 
    Зручно для підбору кольору для всіх відповідних елементів*/
a[id$="blue"] {
    background-color: #4CB1CA;
}

a[class$="blue"] {
    background-color: #4CB1CA;
}

/* Встановлюємо відповідний колір для всіх блочних посилань та блоків, ідентифікатори та класи яких закінчуються на "white" 
    Зручно для підбору кольору для всіх відповідних елементів*/
a[id$="white"] {
    background-color: white;
}

a[class$="white"] {
    background-color: white;
}

div[class$="white"] {
    background-color: white;
}

#card_green {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 76px;
    left: 1063px;
    border-radius: 50%;
}

#card_in {
    width: 20px;
    height: 17px;
    position: absolute;
    top: 9px;
    left: 8px;
}

#basket_green {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 76px;
    left: 1102px;
    border-radius: 50%;
}

#basket_in {
    width: 20px;
    height: 17px;
    position: absolute;
    top: 9px;
    left: 7px;
}

div.cart {
    width: 59px;
    height: 12px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #656565;
    position: absolute;
    top: 89px;
    left: 1150px;
}

div.blackback {
    width: 1400px;
    height: 475px;
    background-color: black;
    position: absolute;
    top: 150px;
    left: 0px;
}

#banner {
    width: 1393px;
    height: 829px;
    position: absolute;
    top: 0px;
    left: 7px;
    z-index: 2;
}

#left_arrow_white {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 350px;
    left: 121px;
    border-radius: 50%;
    z-index: 3;
}

#left_arrow {
    width: 18px;
    height: 31px;
    position: absolute;
    top: 18px;
    left: 23px;
}

#right_arrow_white {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 350px;
    left: 1212px;
    border-radius: 50%;
    z-index: 3;
}

#right_arrow {
    width: 18px;
    height: 31px;
    position: absolute;
    top: 18px;
    left: 26px;
}

/* Встановлюємо відповідний колір для всіх div, клас яких починається на "greyback"
    Зручно для підбору кольору для всіх відповідних елементів */
div[class^="greyback"] {
    background-color: #6F6860;
    color: white;
    z-index: 3;
}

.greyback_light {
    width: 243px;
    /*258 - 15px на padding-left */
    padding-left: 15px;
    padding-top: 13px;
    height: 34px;
    /*47 - 13px на padding-top */
    position: absolute;
    top: 336px;
    left: 236px;
    font-family: sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 22px;
}

.greyback_bold {
    width: 314px;
    /*329 - 15px на padding-left */
    padding-left: 15px;
    padding-top: 13px;
    height: 34px;
    /*47 - 13px на padding-top */
    position: absolute;
    top: 386px;
    left: 236px;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
}

.main {
    width: 1400px;
    height: 2528px;
    background-color: white;
    position: absolute;
    top: 625px;
    left: 0px;
    z-index: 4;
}

/* Надаємо основні властивості назвам категорій */
div[class^="title"] {
    z-index: 5;
    color: #635F57;
    font-family: sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 18px;
}

.title1 {
    width: 242px;
    height: 17px;
    position: absolute;
    top: 672px;
    left: 188px;
}

.title2 {
    width: 121px;
    height: 17px;
    position: absolute;
    top: 1777px;
    left: 187px;
}

.title3 {
    width: 179px;
    height: 17px;
    position: absolute;
    top: 2201px;
    left: 188px;
}

.ifnew {
    background-image: url(../img/blue_mark.png);
    background-repeat: no-repeat;
    width: 96px;
    height: 92px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

div.new {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(45deg);
    margin: 13px;
    padding-left: 25px;
}

.ifsale {
    background-image: url(../img/green_mark.png);
    background-repeat: no-repeat;
    width: 96px;
    height: 92px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

div.sale {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-45deg);
    padding-top: 10px;
    padding-right: 45px;
}

.glasses_box {
    width: 234px;
    height: 319px;
    position: absolute;
    z-index: 5;
    box-shadow: 0px 0px 10px 3px #EFF1F0;
    transition: all linear .5s;
}

.glasses_box:hover {
    box-shadow: 0px 0px 10px 3px #545a57;
}

.greybox {
    background-color: #EFF1F0;
    width: 220px;
    height: 237px;
    position: absolute;
    top: 7px;
    left: 7px;
}

.glasses {
    position: absolute;
    top: 75px;
    left: 12px;
}

.undertext {
    width: 149px;
    height: 34px;
    color: #7DB122;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 17px;
    position: absolute;
    top: 259px;
    left: 7px;
}

.undertext::first-line {
    color: #635F57;
    font-size: 12px;
}

/* Строка для знижки, буде єдиними дочерним елементом */
.undertext>span:only-of-type {
    color: #635F57;
    font-size: 15px;
    text-decoration: line-through;
}

.buy_green {
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 255px;
    right: 7px;
    border-radius: 50%;
}

.buy_in {
    width: 27px;
    height: 26px;
    position: absolute;
    top: 10px;
    right: 11px;
}

#box1 {
    top: 710px;
    left: 191px;
}

#box2 {
    top: 710px;
    left: 452px;
}

#box3 {
    top: 710px;
    left: 713px;
}

#box4 {
    top: 1056px;
    left: 191px;
}

#box5 {
    top: 1056px;
    left: 452px;
}

#box6 {
    top: 1056px;
    left: 713px;
}

#box7 {
    top: 1402px;
    left: 191px;
}

#box8 {
    top: 1402px;
    left: 452px;
}

#box9 {
    top: 1402px;
    left: 713px;
}

#box10 {
    top: 1818px;
    left: 191px;
}

#box11 {
    top: 1818px;
    left: 452px;
}

#box12 {
    top: 1818px;
    left: 713px;
}

#box13 {
    top: 2246px;
    left: 191px;
}

#box14 {
    top: 2246px;
    left: 452px;
}

#box15 {
    top: 2246px;
    left: 713px;
}

div[class$="right"] {
    z-index: 5;
}

img[class$="right"] {
    z-index: 5;
}

.banner_right {
    width: 234px;
    height: 798px;
    position: absolute;
    top: 672px;
    left: 976px;
    box-shadow: 0px 0px 10px 3px #EFF1F0;
}

#line1_right {
    width: 233px;
    height: 4px;
    padding: 0px;
    background-color: #4CB1CA;
    z-index: 5;
    position: absolute;
    top: 672px;
    left: 976px;
}

.title_right {
    text-align: center;

}

#title_featured {
    width: 170px;
    position: absolute;
    top: 700px;
    left: 1000px;
    line-height: 25px;
}

.image_right {
    width: 214px;
    position: absolute;
    top: 780px;
    left: 986px;
}

.button_blue {
    display: block;
    width: 133px;
    height: 45px;
    position: absolute;
    z-index: 5;
    top: 1044px;
    left: 1027px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 44px;
    transition: all linear .1s;
}

.button_blue:hover {
    outline: 3px solid #bee4ee;
}

div.dots {
    width: 232px;
    height: 42px;
    z-index: 5;
    position: absolute;
    top: 1116px;
    left: 976px;
    border-top: 1px solid #EFF1F0;
    border-bottom: 1px solid #EFF1F0;
}

#dot_left_blue {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    left: 90px;
}

#dot_middle_green {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    left: 111px;
}

#dot_right_green {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    left: 132px;
}

#line2_right {
    width: 233px;
    height: 4px;
    padding: 0px;
    background-color: #4CB1CA;
    z-index: 5;
    position: absolute;
    top: 1188px;
    left: 976px;
}

#title_news {
    width: 156px;
    position: absolute;
    top: 1218px;
    left: 1012px;
    line-height: 25px;
}

#title_text {
    width: 187px;
    height: 34px;
    position: absolute;
    top: 1287px;
    left: 1000px;
    line-height: 18px;
    font-size: 12px;
    text-transform: none;
}

.space_right {
    width: 86px;
    height: 2px;
    background-color: #EFF1F0;
    position: absolute;
    top: 1332px;
    left: 1050px;
}

div.subscribe_field {
    width: 186px;
    height: 30px;
    position: absolute;
    top: 1347px;
    left: 1000px;
    border: 2px solid #EFF1F0;
    z-index: 5;
}

.button_green {
    display: block;
    width: 113px;
    height: 45px;
    position: absolute;
    z-index: 5;
    top: 1394px;
    left: 1037px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 44px;
    transition: all linear .1s;
}

.button_green:hover {
    outline: 3px solid #30a702;
}

.footer1 {
    width: 1400px;
    height: 106px;
    background-color: #4CB1CA;
    position: absolute;
    top: 2641px;
    left: 0px;
    z-index: 4;
}

#truck_white {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    position: absolute;
    top: 2662px;
    left: 188px;
    z-index: 4;
}

#truck_in {
    position: absolute;
    top: 19px;
    left: 15px;

}

#truck_text {
    position: absolute;
    width: 383px;
    height: 17px;
    top: 2685px;
    left: 273px;
    text-transform: uppercase;
    z-index: 4;
    color: white;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 19px;
}

#call_white {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    position: absolute;
    top: 2662px;
    left: 743px;
    z-index: 4;
}

#call_in {
    position: absolute;
    top: 18px;
    left: 19px;
}

#call_text {
    position: absolute;
    width: 350px;
    height: 17px;
    top: 2685px;
    left: 828px;
    text-transform: uppercase;
    z-index: 4;
    color: white;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 19px;
}

.footer2 {
    position: absolute;
    top: 2747px;
    left: 0px;
    width: 1400px;
    height: 337px;
    background-color: #39A0B9;
    z-index: 4;
}

.column_name {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 15px;
    z-index: 4;
}

#name1 {
    width: 102px;
    height: 15px;
    position: absolute;
    top: 2796px;
    left: 188px;
}

#name2 {
    width: 141px;
    height: 15px;
    position: absolute;
    top: 2796px;
    left: 471px;
}

#name3 {
    width: 134px;
    height: 15px;
    position: absolute;
    top: 2796px;
    left: 766px;
}

#name4 {
    width: 120px;
    height: 15px;
    position: absolute;
    top: 2796px;
    left: 1016px;
}

.column_text {
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 11px;
    z-index: 4;
}

#fb_text1 {
    width: 96px;
    height: 10px;
    position: absolute;
    top: 2835px;
    left: 187px;
}

#like_button {
    position: absolute;
    top: 2851px;
    left: 187px;
    z-index: 4;
}

div.photos {
    position: absolute;
    top: 2879px;
    left: 188px;
    z-index: 4;
    width: 234px;
    height: 123px;
    border-top: 2px solid #4CB1CA;
    border-bottom: 2px solid #4CB1CA;
}

div.photos img {
    float: left;
    margin-top: 6px;
    margin-right: 11px;
    margin-top: 9px;
}

div.photos img:nth-child(4n) {
    margin-right: 0px;
}

#fb_text2 {
    width: 135px;
    height: 13px;
    position: absolute;
    top: 3014px;
    left: 186px;
}

.twitter_white {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
}

.twitter_in {
    position: absolute;
    top: 13px;
    left: 12px;
}

#first_icon {
    top: 2840px;
    left: 472px;
}

#second_icon {
    top: 2941px;
    left: 472px;
}

.twitter_topic {
    width: 165px;
    height: 70px;
    position: absolute;
    overflow: hidden;
    line-height: 18px;
}

.twitter_topic>a {
    color: #83e6ff;
    text-decoration: none;
}

#topic1 {
    top: 2845px;
    left: 528px;
}

#topic2 {
    top: 2946px;
    left: 528px;
}

div.information {
    width: 186px;
    height: 133px;
    position: absolute;
    top: 2845px;
    left: 766px;
    overflow: hidden;
    line-height: 23px;
}

ul {
    list-style: none;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
}

ul li {
    white-space: nowrap;
}

div.information li::before {
    margin-right: 18px;
    content: '>';
}

div.contactus {
    width: 197px;
    height: 227px;
    position: absolute;
    top: 2796px;
    left: 1014px;
    z-index: 4;
}

div.contactus ul {
    margin-top: 50px;
    margin-left: 5px;
    list-style: none;
    line-height: 23px;
}

.wrapline {
    display: block;
    margin-top: 15px;
    border-bottom: 2px solid #4CB1CA;
}

div.contactus li>a {
    text-decoration: none;
    color: #83e6ff;
}

.icon_white {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    z-index: 4;
    position: relative;
    float: left;
    margin-right: 9px;
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer3 {
    position: relative;
    top: 3082px;
    left: 0px;
    width: 1400px;
    height: 65px;
    background-color: #0B4B5A;
    z-index: 4;
}

.footer3>p {
    font-family: sans-serif;
    font-size: 13px;
    color: #4CB1CA;
    padding: 0;
    padding-top: 24px;
    margin-left: 189px;
}

.footer3>p span:first-child {
    margin-right: 290px;
}

.footer3>p a {
    text-decoration: none;
    color: #4CB1CA;
    margin-left: 10px;
    margin-right: 15px;
}