:root {
    font-size: 18px;
    background-color: antiquewhite;
}

body {
    width: 70%;
    margin: 0 auto;
    padding-top: 5%;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin: 0% 5% 0% 5%;
    width: 50px;
    height: 100px;
    background-color: darkgray;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px 3px black;
    font-weight: bold;
    cursor: pointer;
}

.photobank {
    display: block;
    width: auto;
    border: 10px solid aqua;
    
}

main .photobank img {
    display: none;
    
}

main .photobank img:first-child {
    display: block;
}