* {
    margin: 0;
    padding: 0;
}

:root {
    width: 751px;
    background-color: rgb(184, 184, 184);
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: white;
}

#plug1 {
    width: 751px;
    height: 236px;
}

.header1 {
    width: 237px;
    height: 236px;
    background-color: #2D7053;
    float: left;
}

.header2 {
    width: 237px;
    height: 236px;
    background-color: #2D7053;
    float: left;
}

.header3 {
    width: 277px;
    height: 236px;
    background-color: #2D7053;
    float: left;
}

.headertext {
    width: 134px;
    height: 131px;
    background-color: #2D7053;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 31px;
    line-height: 34px;
    color: white;
    margin-top: 52px;
}

.circle1 {
    display: block;
    background-color: white;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    margin-top: 47px;
    margin-bottom: 0;
    margin-left: 38px;
    margin-right: 0;
}

.linesblock {
    float: right;
    height: 69px;
    width: 85px;
    margin-top: 84px;
    margin-right: 44px;
    background-color: #2D7053;
}

.line1 {
    display: block;
    background-color: white;
    width: 85px;
    height: 13px;
    border-top-left-radius: 5% 50%;
    border-bottom-left-radius: 5% 50%;
    border-top-right-radius: 5% 50%;
    border-bottom-right-radius: 5% 50%;
}

.line2 {
    display: block;
    background-color: white;
    width: 85px;
    height: 13px;
    border-top-left-radius: 5% 50%;
    border-bottom-left-radius: 5% 50%;
    border-top-right-radius: 5% 50%;
    border-bottom-right-radius: 5% 50%;
    margin-top: 15px;
}

div.image_main {
    position: relative;
    width: 751px;
    height: 468px;
}

#image_room {
    width: 751px;
    height: 468px;
}

div.image_fader {
    position: absolute;
    top: 0;
    left: 9px;
    width: 742px;
    height: 444px;
    background-color: rgba(0, 0, 0, .35);
}

.registration_button1 {
    position: absolute;
    top: 344px;
    left: 205px;
    width: 342px;
    height: 75px;
    background-color: #CB9223;
    text-decoration: none;
}

.registration_text1 {
    width: 251px;
    height: 17px;
    margin-top: 28px;
    margin-left: 44px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: white;
    line-height: 15px;
    
}

.photo {
    width: 255px;
    height: 276px;
    margin-top: 55px;
    margin-left: 43px;
    float: left;
}



.round {
    border-radius: 100%;
    width: 250px;
    height: 246px;
    margin-top: 15px;
}

div.name {
    width: 210px;
    height: 27px;
    margin-top: 131px;
    margin-left: 366px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    line-height: 27px;
}

div.specialization {
    width: 245px;
    height: 50px;
    margin-top: 29px;
    margin-left: 364px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    line-height: 25px;
}

div.aboutus {
    width: 590px;
    height: 166px;
    margin-top: 140px;
    margin-left: 43px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    line-height: 28px;
    /*text-align: justify;*/
}

div.reasons {
    width: 545px;
    height: 32px;
    margin-top: 46px;
    margin-left: 43px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    line-height: 29px;
    word-spacing: 6px;
}

div.list {
    width: 256px;
    height: 190px;
    margin-left: 43px;
    margin-top: 43px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    line-height: 27px;
}

ul {
    list-style: none;
}

ul li:before {
    content: "- ";
}

.registration_button2 {
    display: block;
    position: relative;
    width: 342px;
    height: 75px;
    margin-top: 44px;
    margin-left: 217px;
    background-color: #CB9223;
    text-decoration: none;
}

.registration_text2 {
    width: 251px;
    height: 17px;
    position: absolute;
    top: 28px;
    left: 44px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: white;
    line-height: 15px;
}

.footer {
    position: relative;
    width: 751px;
    height: 154px;
    background-color: rgba(136, 136, 136, 1);
    margin-top: 49px;
}

.circle2 {
    display: block;
    background-color: white;
    width: 97px;
    height: 97px;
    border-radius: 50%;
    position: absolute;
    top: 29px;
    left: 45px;
}

.adress {
    width: 199px;
    height: 17px;
    position: absolute;
    top: 102px;
    left: 325px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 15px;
    color: white;
}

.email {
    width: 144px;
    height: 17px;
    position: absolute;
    top: 98px;
    left: 562px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 15px;
    color: white;
    text-decoration: none;
}

.call {
    width: 136px;
    height: 15px;
    position: absolute;
    top: 56px;
    left: 570px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    line-height: 15px;
    color: white;
    text-decoration: none;
}