:root {
    margin-left: auto;
    margin-right: auto;
    background-color: brown;
    width: 1300px;
    box-shadow: 50px 30px 30px rgba(0, 0, 0, 0.5);
}

body {
    margin: 0px;
    padding-top: 0px;
}

header {
    width: 1300px;
    height: 71px;
    background-color: #8C0A0D;
}

#logo {
    width: 177px;
    height: 41px;
    margin-top: 15px;
    margin-left: 67px;
    margin-right: 125px;
    float: left;
}

.links {
    padding-top: 38px;
    padding-bottom: 22px;
}

.links a {
    font-family: 'Minion Pro', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    line-height: 12px;
    color: #F8BF78;
    text-decoration: none;
}

.links span {
    margin-left: 30px;
    float: left;
}

.links span:first-of-type {
    margin: 0;
}

.lang {
    float: right;
    padding-right: 56px;
}

.lang a {
    padding-left: 11px;
    font-size: 18px;
}

main {
    background-color: #e2ddd0;
    background-image: url(./img/back.png);
    background-blend-mode: soft-light;
    width: 1300px;
    height: auto;
}

#plug1 {
    height: 25px;
}

.indaworld {
    width: 1170px;
    height: 335px;
    background-image: url(./img/factory.png);
    margin-left: 65px;
    border: 2px solid black;
}

.inworld {
    font-size: 64px;
    line-height: 44px;
    font-family: 'Times New Roman', Times, serif;
    color: #35040C;
    margin-left: 358px;
    margin-top: 30px;
}

div.forbutton {
    margin-top: 24px;
}

.button {
    display: block;
    margin: 0 auto;
    width: 190px;
    height: 32px;
    padding-top: 11px;
    border-radius: 10px/10px;
    background-color: #F6CC79;
    box-shadow: 0px 5px #BF670D;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 23px;
    font-weight: 600;
    line-height: 15px;
}

#l_arrow {
    display: block;
    float: left;
    padding-left: 28px;
}

#r_arrow {
    display: block;
    float: right;
    padding-right: 28px;
}

div.fordots {
    width: 64px;
    height: 16px;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    float: left;
}

#side-dot {
    background-color: white;
}

#mid-dot {
    background-color: #BF670D;
    margin-right: 8px;
    margin-left: 8px;
}

section {

    width: auto;
    height: auto;
    margin-top: 38px;
    margin-left: 65px;
    margin-right: auto;
    background: transparent;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

div.news_head {
    width: 270px;
    height: 89px;
    float: left;
    margin-right: 38px;
    font-family: 'Minion Pro', serif;
    color: black;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
}

div.news_post {
    width: 270px;
    height: auto;
    float: left;
    margin-top: 18px;
    margin-right: 38px;
    margin-bottom: 30px;
    font-family: 'Minion Pro', serif;
    color: black;
    font-size: 15px;
    line-height: 23px;
}

footer {
    width: 1300px;
    height: 71px;
    background-color: #8C0A0D;
}

.fountain {
    margin-left: 64px;
    margin-top: 36px;
    font-size: 14px;
    color: #F8BF78;
    text-decoration: none;
    float: left;
}

.adress {
    width: 148px;
    margin-left: 102px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 22px;
    color: #F8BF78;
    float: left;
}

.phones {
    width: 149px;
    margin-left: 149px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 22px;
    text-align: end;
    color: #F8BF78;
    text-decoration: none;
    float: left;
}

.phones a {
    color: #F8BF78;
    text-decoration: none;
}

.email {
    width: 138px;
    margin-left: 155px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 22px;
    color: #F8BF78;
    text-decoration: none;
    float: left;
}

.email a {
    color: #F8BF78;
    text-decoration: none;
}

div.icons {
    float: right;
    margin-top: 21px;
    margin-right: 68px;
}

.icons img {
    margin-left: 13px;
}