:root {
    margin-left: auto;
    margin-right: auto;
    background-color: #B3AFAF;
    font-size: 0.5vw;
}

div.forma {
    width: 30%;
    height: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 5%/5%;
    position: relative;
    text-align: center;
    font-size: 3rem;
    box-shadow: 3px 3px 10px grey;

}

.button {
    margin-top: 20%;
    height: 8rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, #24D1FD, #B523FF);
    border: none;
    border-radius: 15%/100%;
    padding: 3%;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.form {
    
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 2.25rem;
    font-size: 2rem;
    color: black;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    padding-bottom: 1%;
    margin-top: 10%;
    
}

.form::placeholder {
    color: #212529;
    opacity: 0.4;
    font-weight: bold;
    font-size: 2rem;
}

.forma p:last-of-type {
    padding-top: 30%;
    font-size: 1.5rem;
    color: grey;
}

.forma a {
    text-decoration: none;
    color: black;
}

#eye {
    font-size: 2rem;
    color: grey;
    float: right;
    clear: both;
    position: absolute;
    top: 35%;
    left: 87%;
}

