:root {
    margin-left: auto;
    margin-right: auto;
    background-color: #3AAFA9;
    font-size: 0.7vw;
}

body {
    width: 50%;
    margin: 0 auto;
    background-color: #2B7A77;
}

h1 {
    font-size: 4rem;
    color: white;
    text-align: center;
}

p.monitor {
    display: block;
    font-size: 3em;
    background-color: #DEF2F1;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin: 10%;
    border: 2px solid black;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form {
    margin-bottom: 1%;
    text-align: center;
    width: 3%; 
    font-size: 2rem;
}

h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
}

#check {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    width: fit-content;
    font-size: 2rem;
    padding: 1%;
    color: white;
    /* text-transform: uppercase; */
}

.button {
    font-size: 1.5rem;
    width: 10%;
}

#attempts {
    margin: 0 auto;
    width: 10%;
    background-color: #DEF2F1;
    color: #2B7A77;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

img {
    display: none;
    width: 50%;
    margin: 0 auto;
    padding: 1%;
}