body {
    width: fit-content;
    margin: 0 auto;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.minekeeper {
    width: 28px;
    height: 28px;
    padding: 0;
    margin-bottom: -6px;
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(219, 219, 219);
    border: 4px ridge grey;
    text-align: center;
    color: yellow;
    font-size: 17px;
    
    
}

.control {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1BAFB1;
    font-size: 20px;
    color: yellow;
}

/* Make buttons more cool :) */
.btn {  
    border-radius: 10px;
    background-color: #383a3a;
    color:rgb(187, 186, 186);
    font-size: 20px;
    font-weight: bold;
}

.btn:active {
    transform: scale(0.9);   
}

.result {
    font-size: 50px;
    text-align: center;
}
