@font-face {
    font-family: minionpro;
    src: url(../fonts/MinionPro-Regular.otf);
}

@font-face {
    font-family: minionpro;
    font-weight: bold;
    src: url(../fonts/MinionPro-Bold.otf);
}

:root {
    margin-left: auto;
    margin-right: auto;
    font-family: minionpro;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}


body {
    width: 1300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: 1235px;
   

}

header img {
    width: 193px;
    margin-left: 45px;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 64px;
    width: auto;

}

header ul li {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 25px;

}

.flag {
    width: 30px;
    height: 30px;
    background-color: #AEAEAE;
    border-radius: 50%;
    /*margin-top: 10px;*/
    align-self: center;
}

select {
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 4px;
}

nav {
    font-size: 18px;
    margin-left: 63px;
    padding-top: 25px;

}

.wrapper {
    display: flex;
    flex-direction: row;
}

aside {
    display: inline-flex;
    flex-direction: column;
    width: 319px;
    /*height: 1000px;*/
    /* float: left; */

}

aside div {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 64px;
    padding-top: 48px;
    
}

main {
    display: inline-flex;
    flex-direction: column;
    width: 916px;
    height: 1000px;
    padding-top: 7px;
}

main img {
    width: 916px;
    height: 357px;
}

article {
    width: 909px;
    height: 664px;
    margin-top: 48px;
    margin-left: 6px;
    font-size: 18px;
    overflow: auto;
    padding: 0;
}

h1 {
    margin-top: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1em;
}

article p {
    padding-top: 3%;
    font-size: 14px;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 100px;
    justify-content: space-between;
    
}

footer > img {
    width: 193px;
    margin-left: 46px;
}

address {
    width: 148px;
    height: 38px;
    font-size: 14px;
    font-weight: bold;
}

.phones {
    width: 144px;
    height: 37px;
    font-size: 14px;
    font-weight: bold;
    text-align: end;
}

.email {
    width: 138px;
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    text-align: start;
}

div.social {
    width: 71px;
    height: 32px;
    margin-right: 66px;
}
