:root {
    font-size: 1vw;
}

.mt-10 {
    margin-top: 30rem !important; /*add some bootstraps options :) */ 
}

header {
    background-image: url(../img/back.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.transparent {
    background: rgba(0, 0, 0, .7);
    background-blend-mode: color;

}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    
}

nav a:hover {
    text-decoration: none;
    color: #0BC227;
    
}

.icon a {stroke: white; fill: white;}
.icon a:hover { stroke: #0d4116; fill: #099921; } 

input::placeholder {color: white;}

article a {text-decoration: none; color:#0AA321;}

.service {
    background-image: url(../img/back2.png);
    background-repeat: no-repeat;
    background-size: cover;
}