:root {
    font-size: 18px;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #541704;
}

h3:hover {
    font-weight: 900;
}



div.main {
    margin-left: 20px;
    padding-top: 0px;
    width: 600px;
    height: 60px; /* 60px */
    overflow: hidden;
    transition: all .5s;
    cursor: pointer;
}

div.main:hover {
    height: 570px; 
}

div.position {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify; 
    margin-bottom: 2rem;
    overflow: hidden;
}


div.position p:first-child {
    font-size: 1.2rem;
    color: #B88F3F;
    margin-top: 0;
    margin-bottom: 0;
    
}

div.position p:first-of-type::after {
    font-size: 0.5rem;
    content: '.................................................................................................................................................';
    white-space: nowrap;
    overflow: hidden;
    display: block;
    line-height: 40px;
   
    
}

p span:first-of-type {
    float: left;
    
    
}

p span:last-of-type {
    float: right;
    
    
}






.picture {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}