body {
    margin-top: 3%;
    background-color: rgb(162, 216, 184);
}

header {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

p:nth-child(1) {
    color: rgb(21, 116, 60);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
}

p:nth-child(2) {
    color: rgb(3, 66, 6);
    font-size: 1.5rem;
    margin: 1%;
}

div {
    text-align: center;
}

input {
    padding: 10px;
    margin: 1%;
    border: 2px solid black;
    border-radius: 10%;
    background-color: rgb(197, 218, 166);
    font-weight: 700;
}

input:hover {
    font-weight: 700;
    background-color: rgb(139, 175, 142);
}

input:active {
    transform: scale(0.7);
}

main {
    width: fit-content;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    font-size: 1.5rem;
}

th {
    border: 2px solid blanchedalmond; 
}

td {
    border: 2px solid blanchedalmond; 
}

td:nth-child(2n) {
    text-align: right;
}

footer {
    margin: 0 auto;
    margin-top: 1%;
    width: fit-content;
}